In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as mp

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

print("All Modules Initialized ðŸš€")

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv
All Modules Initialized ðŸš€

In [2]:
columns_to_be_added_as_features = ['Sex','Age','SibSp','Parch','Pclass','Fare','Embarked']
train = pd.read_csv('../input/titanic/train.csv', usecols=columns_to_be_added_as_features + ['Survived'])
test = pd.read_csv('../input/titanic/test.csv', usecols=columns_to_be_added_as_features + ['PassengerId'])

In [3]:
#display all columns
train.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [4]:
for column_title in columns_to_be_added_as_features:
    if column_title in ['Embarked', "Sex"]:
        continue
    train[column_title] = pd.to_numeric(train[column_title], downcast="float")
    test[column_title] = pd.to_numeric(test[column_title], downcast="float")

train["Survived"] = pd.to_numeric(train["Survived"], downcast="float")

make text 1s and 0s

In [5]:
train['Embarked'].replace('Q', 0,inplace=True)
train['Embarked'].replace('S', 1,inplace=True)
train['Embarked'].replace('C', 2,inplace=True)

test['Embarked'].replace('Q', 0,inplace=True)
test['Embarked'].replace('S', 1,inplace=True)
test['Embarked'].replace('C', 2,inplace=True)

train['Sex'].replace('male', 0,inplace=True)
train['Sex'].replace('female', 1,inplace=True)

test['Sex'].replace('male', 0,inplace=True)
test['Sex'].replace('female', 1,inplace=True)

train.head()

   Survived  Pclass  Sex   Age  SibSp  Parch       Fare  Embarked
0       0.0     3.0    0  22.0    1.0    0.0   7.250000       1.0
1       1.0     1.0    1  38.0    1.0    0.0  71.283302       2.0
2       1.0     3.0    1  26.0    0.0    0.0   7.925000       1.0
3       1.0     1.0    1  35.0    1.0    0.0  53.099998       1.0
4       0.0     3.0    0  35.0    0.0    0.0   8.050000       1.0

In [6]:
def normalize(df):
    result = df.copy()
    for feature_name in df.columns:
        max_value = df[feature_name].max()
        min_value = df[feature_name].min()
        result[feature_name] = (df[feature_name] - min_value) / (max_value - min_value)
    return result

train = normalize(train)
test = normalize(test)

train.head()

   Survived  Pclass  Sex       Age  SibSp  Parch      Fare  Embarked
0       0.0     1.0  0.0  0.271174  0.125    0.0  0.014151       0.5
1       1.0     0.0  1.0  0.472229  0.125    0.0  0.139136       1.0
2       1.0     1.0  1.0  0.321438  0.000    0.0  0.015469       0.5
3       1.0     0.0  1.0  0.434531  0.125    0.0  0.103644       0.5
4       0.0     1.0  0.0  0.434531  0.000    0.0  0.015713       0.5

In [7]:
train = train.fillna(0)
test = test.fillna(0)

In [8]:
y = train.Survived
train1 = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']
X = train[train1]

In [9]:
from sklearn.tree import DecisionTreeRegressor 
# Define model. Specify a number for random_state to ensure same results each run 
train_model = DecisionTreeRegressor(random_state=1)
 # Fit model 
train_model.fit(X, y)
train_model.predict(X.head())

array([0., 1., 1., 1., 0.])

In [10]:
from sklearn.metrics import mean_absolute_error
predicted = train_model.predict(X) 
mean_absolute_error(y, predicted)

0.021567527123082682